* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  background-color: hsl(0, 0%, 86%);
}

.arrow-button {
  display: flex;
  position: absolute;
  bottom: -30px;
  place-items: center;
  place-content: center;
  align-self: center;
  width: 60px;
  height: 60px;
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  border: none;
}
@media screen and (min-width: 1024px) {
  .arrow-button {
    right: 0;
    bottom: -40px;
    width: 80px;
    height: 78px;
    transition: background-color 500ms linear;
  }
  .arrow-button:hover {
    background-color: hsl(0, 0%, 8%);
    cursor: pointer;
    transition: background-color 500ms linear;
  }
}
.arrow-button svg {
  width: 25.5px;
  height: 30.5px;
}
@media screen and (min-width: 1024px) {
  .arrow-button svg {
    width: 35px;
    height: 35px;
  }
}

.calculator-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 620px;
  height: auto;
  min-height: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 25px 25px 70px 25px;
  background-color: hsl(0, 0%, 100%);
}
@media screen and (min-width: 1024px) {
  .calculator-container {
    padding: 40px;
    border-radius: 25px 25px 130px 25px;
  }
}
.calculator-container__form {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  border-bottom: 1px solid hsl(0, 0%, 86%);
}
@media screen and (min-width: 1024px) {
  .calculator-container__form {
    height: 30%;
  }
}
.calculator-container__form form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 15px;
}
@media screen and (min-width: 1024px) {
  .calculator-container__form form {
    max-width: 400px;
  }
}
.calculator-container__form form div {
  display: flex;
  flex-direction: column;
}
.calculator-container__form form div label {
  font-size: 1.2rem;
  font-weight: 600;
}
.calculator-container__form form div input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 1.8rem;
  font-weight: bold;
  border-radius: 5px;
}
.calculator-container__form form div p {
  margin-top: 10px;
  font-size: 1.2rem;
}
.calculator-container__result {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  justify-content: center;
  font-size: 5.5rem;
  font-weight: bold;
}
@media screen and (min-width: 750px) {
  .calculator-container__result {
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .calculator-container__result {
    height: 70%;
    align-items: start;
    font-size: 7rem;
  }
}
.calculator-container__result div {
  display: flex;
  height: 65px;
  gap: 3px;
}
.calculator-container__result div .number {
  color: hsl(259, 100%, 65%);
}
.calculator-container__result div .text {
  color: hsl(0, 0%, 8%);
}

.attribution-container {
  font-size: 11px;
  text-align: center;
  justify-self: flex-end;
}
.attribution-container a {
  color: hsl(228, 45%, 44%);
}

.normal-text {
  color: hsl(0, 1%, 44%);
}

.normal-state {
  border: 1px solid hsl(0, 0%, 86%);
}

.normal-state:focus {
  border: 1px solid hsl(259, 100%, 65%);
  outline: none;
}

.error-text {
  color: hsl(0, 100%, 67%);
}

.error-state {
  border: 1px hsl(0, 100%, 67%) solid;
  color: hsl(0, 100%, 67%);
}

.error-state:focus {
  border: 1px solid hsl(0, 100%, 67%);
  outline: none;
}

/*# sourceMappingURL=style.css.map */
