@use '../abstracts/vars' as a;

.arrow-button {
    display: flex;
    position: absolute;
    bottom: -30px;
    place-items: center;
    place-content: center;
    align-self: center;
    width: 60px;
    height: 60px;
    background-color: a.$purple;
    border-radius: 50%;
    border: none;
    @include a.media-up(lg){
        right: 0;
        bottom: -40px;
        width: 80px;
        height: 78px;
        &:hover {
            background-color: a.$off-black;
            cursor: pointer;
            transition: background-color 500ms linear;
        }
    }
    svg {
        width: 25.5px;
        height: 30.5px;
        @include a.media-up(lg){
            width: 35px;
            height: 35px;
        }
    }
}