@use '../abstracts/vars' as a;

.calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 600px;
    height: auto;
    min-height: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 25px  25px 70px 25px;
    background-color: a.$white;
    @include a.media-up(lg){
      padding: 40px;
    }
    &__form {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        height: 40%;
        border-bottom: 1px solid a.$Light-grey;
        @include a.media-up(lg){
            height: 30%;
        }
        form {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            justify-items: center;
            gap: 15px;
            @include a.media-up(lg){
                max-width: 400px;
            }
            div {
                display: flex;
                flex-direction: column;
            }

            div label {
                font-size: 1.2rem;
                font-weight: 600;
                color: a.$smokey-grey;
            }

            div input {
                width: 100%;
                height: 40px;
                padding: 0 10px;
                font-size: 1.8rem;
                font-weight: bold;
                border-radius: 5px;
                border: 1px solid a.$Light-grey;
            }

            div input:focus {
                border: 1px solid a.$purple;
                outline: none;
            }
        }   
    }
    
    &__result {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        justify-content: center;
        font-size: 5.5rem;
        font-weight: bold;
        @include a.media-up(md){
            align-items: center;
        }
        @include a.media-up(lg){
            height: 70%;
            align-items: start;
            font-size: 7rem;
        }
        div {
            display: flex;
            height: 65px;
            gap: 3px;
        }
        div .number {
            color: a.$purple;
        }
        div .text {
            color: a.$off-black;
        }
    }
}

.arrow-button {
    display: flex;
    position: absolute;
    bottom: -30px;
    place-items: center;
    place-content: center;
    align-self: center;
    width: 60px;
    height: 60px;
    background-color: a.$purple;
    border-radius: 50%;
    border: none;
    @include a.media-up(lg){
        right: 0;
        bottom: -40px;
        width: 80px;
        height: 80px;
        &:hover {
            background-color: a.$off-black;
            cursor: pointer;
        }
    }
    svg {
        width: 25.5px;
        height: 30.5px;
        @include a.media-up(lg){
            width: 35px;
            height: 35px;
        }
    }
}


.attribution-container { 
    font-size: 11px; 
    text-align: center; 
    justify-self: flex-end;
    a { 
        color: hsl(228, 45%, 44%); 
    }
}