@use '../abstracts/vars' as a;

.normal-text {
    color: a.$smokey-grey;
}

.normal-state {
    border: 1px solid a.$Light-grey;
}

.normal-state:focus {
    border: 1px solid a.$purple;
    outline: none;
}

.error-text {
    color: a.$light-red;
}

.error-state {
    border: 1px a.$light-red solid;
    color: a.$light-red;
}

.error-state:focus {
    border: 1px solid a.$light-red;
    outline: none;
}